{% extends 'base.html' %}

{% block head %}
    <title>Task Master</title>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
	<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/blazeface"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/detection.css') }}">

{% endblock %}

{% block body %}

    <!--Navigation-->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Project-Orwell</a>
        </div>
        <ul class="nav navbar-nav">
            <li ><a href="/home">Home</a></li>

            <li class="active" ><a href="#">Get started</a></li>


            <li><a href="/student_profile">Profile</a></li>
            <li><a href="/student/about">About</a></li>
            <li><a href="/help/student">Help</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/student/about"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/login/{{1}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>

    <div id="detection" style="height: 750px;">

        <div style="padding-left: 400px;">
            <h1 style="color: white; font-size: 40px; margin-bottom: 50px; margin-left: 150px;">Attention Detection</h1>

                <video id="video"></video>
                <canvas id="output"></canvas>

            <div class="sessionbutton">
                <form action="/update_attention" method="POST">
                    <input type="text" name="attention_level" id="attention_level" style="display: none;">
                    <input type="submit" value="Stop" class="btnLeave" style="margin-top: 500px; margin-left: 250px;" onclick="handleLeave()">
                </form>
                <a href="/home"><button class="btnLeave" style="margin-top: 10px; margin-left: 250px;">Leave</button></a>
            </div>

        </div>
    </div>

    <!--Footer-->
<div class="container-fluid pb-0 mb-0 justify-content-center text-light ">
    <footer>
        <div class="row my-5 justify-content-center py-5">
            <div class="col-11">
                <div class="row ">
                    <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                        <h3 class="text-muted mb-md-0 mb-5 bold-text">Untitled.</h3>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                        <h6 class="mb-3 mb-lg-4 bold-text "><b>MENU</b></h6>
                        <ul class="list-unstyled">
                            <li ><a href="/home">Home</a></li>
                            <li><a href="/student/about">About</a></li>
                            <li><a href="/help/student">Help</a></li>
                            <li><a href="/student_profile">Profile</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                        <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>ADDRESS</b></h6>
                        <p class="mb-1">57 Ramakrishna Rd, Colombo 00600</p>
                        <p>Informatics Institute of Technology (IIT)</p>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
                        <p class="social text-muted mb-0 pb-0 bold-text">
                            <a href="https://www.facebook.com/" target="_blank"><span class="mx-2"><i class="fa fa-facebook" aria-hidden="true"></i></span></a>
                            <a href="https://www.linkedin.com/feed/" target="_blank"><span class="mx-2"><i class="fa fa-linkedin-square" aria-hidden="true"></i></span></a>
                            <a href="https://twitter.com/LOGIN" target="_blank"><span class="mx-2"><i class="fa fa-twitter" aria-hidden="true"></i></span></a>
                            <a href="https://www.instagram.com/" target="_blank"><span class="mx-2"><i class="fa fa-instagram" aria-hidden="true"></i></span></a>
                        </p>
                        <small class="rights"><span>&#169 </span> Team Untitled All Rights Reserved.</small>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
                        <h6 class="mt-55 mt-2 text-muted bold-text"><b>Shaumya Alexandra</b></h6><small> <span><i class="fa fa-envelope" aria-hidden="true"></i></span> shaumya.20191132@iit.ac.lk</small>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-2 align-self-end mt-3 ">
                        <h6 class="text-muted bold-text"><b>K.H Gunasekara</b></h6><small><span><i class="fa fa-envelope" aria-hidden="true"></i></span> kavindi.2019598@iit.ac.lk</small>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

    <script>
    var levels = [];
    var total = 0;
    var avg = 0;
    let count = 0;
	var model, attention_model, ctx, videoWidth, videoHeight, canvas;
	const video = document.getElementById('video');
	const state = {
	  backend: 'webgl'
	};

	function handleLeave() {

        let average = total / count;
        console.log("average" + average * 100);
        document.getElementById('attention_level').value = (average * 100);
    }
	async function setupCamera() {
		const stream = await navigator.mediaDevices.getUserMedia({
		    'audio': false,
		    'video': { facingMode: 'user' },
		});
		video.srcObject = stream;
	    return new Promise((resolve) => {
		    video.onloadedmetadata = () => {
		      resolve(video);
		    };
		});
	}

	const renderPrediction = async () => {
		tf.engine().startScope()
		ctx.clearRect(0, 0, canvas.width, canvas.height);
		//estimate faces model takes in 4 parameter (1) video, returnTensors, flipHorizontal, and annotateBoxes
		const predictions = await model.estimateFaces(video, true,false,false);
		const offset = tf.scalar(127.5);
		//check if prediction length is more than 0
		if (predictions.length > 0) {
			//clear context

		    for (let i = 0; i < predictions.length; i++) {
		    	var text=""
			    var start = predictions[i].topLeft.arraySync();
			    var end = predictions[i].bottomRight.arraySync();
			    var size = [end[0] - start[0], end[1] - start[1]];
			    if(videoWidth<end[0] && videoHeight<end[0]){
			    	console.log("image out of frame");
			    	continue;
			    }
			    var inputImage = tf.browser.fromPixels(video).toFloat()
			    inputImage = inputImage.sub(offset).div(offset);
			    inputImage = inputImage.slice([parseInt(start[1]),parseInt(start[0]),0],[parseInt(size[1]),parseInt(size[0]),3]);
			    inputImage = inputImage.resizeBilinear([224,224]).reshape([1,224,224,3]);
			    result = attention_model.predict(inputImage).dataSync();
			    result = Array.from(result);
			    ctx.beginPath();
                total += result[0];
                count++;
			    if (result[1]>result[0]){
			    	//no attention on
			      	ctx.strokeStyle="red";
			      	ctx.fillStyle = "red";
			      	text = "NO Attention: "+(result[1]*100).toPrecision(3).toString()+"%";
			    }else{
			    	//attention on
			      	ctx.strokeStyle="green";
			      	ctx.fillStyle = "green";
			      	text = "Attention: "+(result[0]*100).toPrecision(3).toString()+"%";
			    }
		        ctx.lineWidth = "4";
			    ctx.rect(start[0], start[1],size[0], size[1]);
			    ctx.stroke();
			    ctx.font = "bold 15pt sans-serif";
			    ctx.fillText(text,start[0]+5,start[1]+20);
		    }
		}
		//update frame
		requestAnimationFrame(renderPrediction);
		tf.engine().endScope();
	};

	const setupPage = async () => {
	    await tf.setBackend(state.backend);
	    await setupCamera();
	    video.play();

	    videoWidth = video.videoWidth;
	    videoHeight = video.videoHeight;
	    video.width = videoWidth;
	    video.height = videoHeight;

	    canvas = document.getElementById('output');
	    canvas.width = videoWidth;
	    canvas.height = videoHeight;
	    ctx = canvas.getContext('2d');
	    ctx.fillStyle = "rgba(255, 0, 0, 0.5)";

	    model = await blazeface.load();

	    attention_model = await tf.loadLayersModel('../static/model/model.json');

	    renderPrediction();

	};

	setupPage();
	//renderPrediction().then(function (value) {console.log(value)});


</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


{% endblock %}