{% extends 'base.html' %}

{% block head %}
<title>Project-Orwell Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notification.css') }}">
{% endblock %}

## body content
{% block body %}

    <div class="wrapperlogin"style="background-image: url(../static/images/login-bg.png); background-size: cover; background-repeat: repeat ; height: 100vh;">
        <div class="imagelogin">
            <div class=" image">
                <img src="../static/images/logo.png" id="logo-img">
            </div>
        </div>

        <div class="form-wrapperlogin">
            <div class="welcometopic" style="margin-left: -50px;"><h1>  Invalid! </h1></div>
            <a href="/">
                <button style="height: 60px; width: 120px; font-family: 'Open Sans'; border-radius: 100px; margin-left: -20px; font-weight: bold; font-size: 20px;">
                    Try Again!
                </button>
            </a>
        </div>

    </div>

{% endblock %}